<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744735996068-g1aq2ubi091spnaogbm8sphl2sbmn59f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744735996068-g1aq2ubi091spnaogbm8sphl2sbmn59f</string>
	<key>API_KEY</key>
	<string>AIzaSyBWK3Qjx3h7Q6qvOvT7OinGDVpY53rTG3c</string>
	<key>GCM_SENDER_ID</key>
	<string>744735996068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBookList</string>
	<key>PROJECT_ID</key>
	<string>book-list-e7199</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-e7199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744735996068:ios:70aaeff9243fe088560e31</string>
</dict>
</plist>